* {
    font-family: system-ui, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    color: #222;
    padding: 2rem;
}

.datepicker {
    border-radius: 4px;
    position: relative;
}

.datepicker input {
    border-radius: inherit;
    border: none;
    outline: none;
    padding: .5rem 2rem .5rem 1rem;
    font-size: .85rem;
    width: 100%;
}

.datepicker input::placeholder {
    color: lightslategray;
}

.datepicker button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: slategray;
    font-size: 0.85rem;
}

.calendar {
    background-color: #fff;
    position: absolute;
    top: 100%;
    margin-top: 8px;
    z-index: 9999;
    overflow: hidden;
    padding: 1rem;
    border-radius: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    user-select: none;
    text-align: center;
    font-size: .85rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.calendar[hidden] {
    display: none;
}

.controls {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.controls button {
    width: 32px;
    height: 32px;
    touch-action: manipulation;
}

.controls button.prev {
    justify-self: start;
}

.controls button.next {
    order: 1;
    justify-self: end;
}

.controls strong.label {
    grid-column: 2;
    font-weight: 600;
    text-transform: uppercase;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: .5rem;
    width: 220px;
}